@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
    padding-top: 10;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

div{
    float:inline-start;
    text-align: right;
    text-decoration-line: underline;
    
    list-style-type: none;;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
}



li a {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

div{
    background-color: white;
    float: right;
    border-radius: 5px;
    width: 800px;
    box-sizing: 10px;
    
}
body{
background-color:white;
background-image: url(fond.img);
}
form{
    background-color: beige;
    border-top-right-radius: 100px;
    float: left;
    width: 300px;
}
ul{
    background-color: rgb(109, 197, 8);
    text-align: center;
    border-style: double;
    box-shadow: 30PX;
    border-radius: 10PX;
}
div1{
    text-size-adjust: 10;
}
img{
    width: 800px;
    float: right;
    border-radius: 40px;
    height: 400px;
}

div5{
    float: left;
    background-color: bisque;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
}

